<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>macjs</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../styles/global.css" />
</head>
<body>
<div id="app">
    <section id="intro">
        <div class="os-brand-circle"></div>

        <div>
            <h1>
                Hello <strong>MacJS</strong>!
            </h1>
        </div>
    </section>
</div>
</body>
</html>