<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>macjs</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../styles/Index.css" />

    <!-- JS -->
    <script src="../scripts/prepare.js" defer></script>
    <script src="../scripts/sections-manager.js" defer></script>
</head>
<body>
<div id="app">
    <section id="intro">
        <div class="os-brand-circle"></div>

        <div>
            <h1>
                Hello <strong>MacJS</strong>!
            </h1>

            <div class="buttons">
                <button class="btn btn-primary"
                        button-action="nextSection">
                    Install
                </button>
            </div>
        </div>
    </section>

    <section class="hidden" id="installer_os">
        <div class="window">
            <div class="window-header">
                <div class="window-primitive-commands"></div>

                <div class="window-title">
                    MacJS installation
                </div>
            </div>

            <div class="window-body">
                <form id="os_config">
                    <div class="form-component">
                        <label class="label" for="device_name">
                            <p>
                                Device name:
                            </p>

                            <input class="input"
                                   type="text" 
                                   name="device_name" 
                                   id="device_name" />
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>