<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>macjs</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../styles/Index.css" />

    <!-- JS -->
    <script src="../scripts/includes.js" defer></script>
    <script src="../scripts/prepare.js" defer></script>
    <script src="../scripts/sections-manager.js" defer></script>
    <script src="../scripts/inputs-manager.js" defer></script>
</head>
<body>
<div id="app">
    <section id="intro">
        <div class="os-brand-circle"></div>

        <div>
            <h1>
                Hello <strong>MacJS</strong>!
            </h1>

            <div class="buttons">
                <button class="button button-primary"
                        button-action="nextSection">
                    Install
                </button>
            </div>
        </div>
    </section>

    <section class="hidden" id="installer_os">
        <div class="window">
            <div class="window-header">
                <div class="window-primitive-commands"></div>

                <div class="window-title">
                    MacJS installation
                </div>
            </div>

            <div class="window-body">
                <div class="main">
                    <h1>
                        MacJS installation
                    </h1>

                    <form id="os_config">
                        <div class="form-component">
                            <label class="label" for="device_name">
                                <p>
                                    Device name:
                                </p>

                                <input class="input" id="device_name" type="text" name="device_name" maxlength="25"
                                       placeholder="25 characters max." />

                                <ul class="input-errors"></ul>
                            </label>
                        </div>

                        <div class="form-component">
                            <label class="label" for="language">
                                <p>
                                    Language:
                                </p>

                                <select class="input" name="language" id="language">
                                    <optgroup label="Choose a language">
                                        <option value="en_US">
                                            English (USA)
                                        </option>
                                    </optgroup>
                                </select>

                                <ul class="input-errors" id="language_errors"></ul>
                            </label>
                        </div>

                        <div class="form-component">
                            <label class="label" for="product">
                                <p>
                                    Product:
                                </p>

                                <select class="input" name="product" id="product">
                                    <optgroup label="Choose a product">
                                        <option value="macjs_beta">
                                            MacJS Beta
                                        </option>
                                    </optgroup>
                                </select>
                            </label>
                        </div>

                        <div class="form-component buttons">
                            <button class="button button-secondary" button-action="previousSection" type="button">
                                Cancel
                            </button>

                            <button class="button button-primary" button-action="nextSection" type="button" disabled>
                                Continue
                            </button>
                        </div>
                    </form>
                </div>

                <div class="footer">
                    <div class="brand-icon">
                        <i class="fa-brands fa-apple"></i>
                    </div>

                    <div class="copyrights">
                        <p>
                            This product is in no way produced, offered, supported or affiliated with Apple Inc. <br />
                            It is an independent non-profit project.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hidden" id="installer_first_session">
        <div class="window">
            <div class="window-header">
                <div class="window-primitive-commands"></div>

                <div class="window-title">
                    MacJS installation
                </div>
            </div>

            <div class="window-body">
                <div class="main">
                    <h1>
                        Your first session
                    </h1>

                    <p class="intro">
                        This first session will be used as the <strong>Administrator</strong> session.
                    </p>

                    <form id="admin_session_creation">
                        <div class="form-component avatar-selection">
                            <label for="avatar">
                                <div class="avatar-preview">
                                    <div class="filter">
                                        Import
                                    </div>
                                </div>
                            </label>

                            <input class="hidden" type="file" name="avatar" id="avatar" />
                        </div>

                        <div class="form-component">
                            <label class="label" for="name">
                                <p>
                                    Name:
                                </p>

                                <input class="input" id="name" type="text" maxlength="25"
                                       placeholder="25 characters max." />
                            </label>
                        </div>

                        <div class="form-component">
                            <label class="label" for="password">
                                <p>
                                    Password:
                                </p>

                                <input class="input" id="password" type="password" />
                            </label>
                        </div>

                        <div class="form-component">
                            <label class="label" for="password_hint">
                                <p>
                                    Password hint:
                                    <span class="label-description">
                                        It will appear if you fail to type your password.
                                    </span>
                                </p>

                                <input class="input" id="password_hint" type="text" />
                            </label>
                        </div>

                        <div class="form-component buttons">
                            <button class="button button-secondary" button-action="previousSection" type="button">
                                Cancel
                            </button>

                            <button class="button button-primary" button-action="nextSection" type="button" disabled>
                                Continue
                            </button>
                        </div>
                    </form>
                </div>

                <div class="footer">
                    <div class="brand-icon">
                        <i class="fa-brands fa-apple"></i>
                    </div>

                    <div class="copyrights">
                        <p>
                            This product is in no way produced, offered, supported or affiliated with Apple Inc. <br />
                            It is an independent non-profit project.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>