<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>macjs</title>

  <!-- CSS -->
  <link rel="stylesheet" href="../styles/Index.css" />

  <!-- JS -->
  <script src="../scripts/includes.js" defer></script>
  <script src="../scripts/animate.js" defer></script>

  <!-- Internal includes -->
</head>
<body>
<div class="hidden-elements">

</div>

<div id="app">
  <div class="brand-icon">
    <i class="fa-brands fa-apple"></i>
  </div>
</div>
</body>
</html>