@import "../../../../fonts/fonts.css";
@import "../../../../sources/ApplePrecepts/styles";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

#app {
  height: 100vh;

  overflow: hidden;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > .brand-icon {
    font-size: 80px;
    color: $brandColor;

    > i {
      opacity: 0;
    }
  }
}